   /*  author : akanksha singh    (IT 2yr)      */
#main{
			text-shadow:4px 5px 4px white;
		font-size: 15px;
		font-weight:bold;
		font-style: strong;
		    font-family:ariel;
			text-align:center;
		     width:12%;
			 height:70px;
			 margin:;
		    float: ;
		    opacity:0.9;
            background:silver;  			
		     color: black;
			 
			 display:;
			 
		    -webkit-border-radius: 25px;
		    -moz-border-radius: 25px;
		     border-radius: 25px;
			
			overflow:;
		      cursor:hand;
		      border: none,15px, blue;
		      

			  -moz-box-shadow: 4px 4px 4px #000000;
		    -webkit-box-shadow: 4px 4px 4px #000000;
           box-shadow: 4px 4px 4px #000000;
		}
		
	.hoverr:hover{
		-webkit-transform: scale(1.20);
		
		
		z-index:2000;
		
	-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
-ms-transition: all 0.7s ease-in-out;
		
		-moz-box-shadow: 10px 20px 40px black;
-webkit-box-shadow: 10px 20px 40px black;
box-shadow: 10px 20px 40px black;
		cursor:hand;
		}	
		
		
		

		
	 /*  author : akanksha singh     (IT 2yr) and  thanks to saumya singh (CS 2yr)   */